name: Generate GitHub Contributions Chart

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  generate_chart:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        pip install requests plotly

    - name: Generate chart and save as PNG
      run: |
        python scripts/generate_contribution_graph.py

    - name: Commit and push PNG
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "github-actions@github.com"
        git add scripts/contributions_chart.png
        git commit -m "Add contributions chart"
        git push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
