name: Generate Contribution Graph

on:
  push:
    branches:
      - main # Trigger on push to the main branch, adjust as needed

permissions:
  contents: read

jobs:
  build:
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    permissions:
      contents: write # for Git to git push
    runs-on: ubuntu-latest # Use the latest Ubuntu runner

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.9" # You can specify a different version if needed

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip  # Upgrade pip to the latest version
          pip install matplotlib numpy requests  # Install necessary dependencies

      - name: Generate chart and save as PNG
        run: |
          python scripts/generate_contribution_graph.py  # Run your script

      - name: Commit and push PNG
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add scripts/contributions_chart.png
          git commit -m "Add contributions chart"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Automatically provided by GitHub Actions
